.layout-container {
  display: flex;
  height: 100%;
  .layout-side {
    display: flex;
    flex-direction: column;
    flex: 0 0 256px;
    .layout-side--logo {
      height: 48px;
      border-right: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      img {
        height: 48px;
      }
    }
    .ant-menu {
      flex: 1 1 auto;
    }
  }
  .layout-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
    .app-container {
      flex: 1 1 auto;
    }
    .layout-head {
      text-align: left;
    }
    .layout-foot {
      position: fixed;
      height: 30px;
      text-align: center;
      line-height: 30px;
      padding: 4px;
      left: 0;
      bottom: 0;
    }
  }
}